.md-tabs {
    background-color: #628E90;
}

.md-footer {
    background-color: #628E90;
}

.md-footer-meta {
    background-color: rgb(84,109,120);
}

/* .md-main {

    background-image: url("https://lemonapostlepicgo.oss-cn-hangzhou.aliyuncs.com/img/202211032320395.jpg");
    /* 设置透明程度 */
/*} */