:root > * {
    --md-primary-bg-color:        #EEF1FF; /* 标题的颜色 */
    --md-primary-fg-color:        #B1B2FF; /* 顶部导航栏的颜色 */
    --md-primary-fg-color--dark:  #D2DAFF;

    --md-default-fg-color--light:        #B1B2FF;
    --md-default-fg-color--lighter:      #B1B2FF;
    --md-default-fg-color--lightest:     #B1B2FF;



    --md-footer-fg-color:                #EEF1FF; /* 底部导航栏的颜色 */
    --md-footer-bg-color:                #B1B2FF;
}